.show-error {
    margin-bottom: 0 !important;
}

.show-error-div {
    margin-bottom: 5% !important;
}

span.error {
    color: rgb(249, 60, 60);
    margin-bottom: 10%;
    margin-top: 10px !important;
}

p.questions {
    margin-top: 0 !important;
    color: blue;
}

.gutter-row {

    .title {
        justify-content: center;
        border: .5px solid rgb(217, 225, 237);
        text-align: center;
    }

    margin-bottom: 2.5%;
}