.current-btn {
    color: white;
    background-color: rgb(84, 152, 230);
}

.attempted {
    color: white;
    background-color: rgb(76, 224, 71);
}

.not-attempted {
    background-color: white;
}

.correct-option {
    color: rgb(24, 156, 63);
    border: 1px solid green;
}